body{
    
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 110px;
  background-image: url("gambar1.jpg");
  background-size: cover;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: aliceblue;
}
form{
    width: 100%;
}
legend{
    text-align: center;
}
.back, a{
    margin-top: 5px;
    background-color: lightskyblue;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}
fieldset{
    text-align: center;
}