body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("gambar1.jpg");
  background-size: cover;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
}
.transparent-button {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
}

